<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="岗位" value="主手,二段,副手,其他" />
    <add key="交接班类型" value="0" />
    <add key="交接班记录" value="正常,维修,停机,其他" />
    <add key="工号" value="admin,,," />
    <add key="班组" value="甲班,乙班,丙班,丁班" />
  </appSettings>
</configuration>
