<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  
  <appSettings>
    <add key="ZCXJ_CS.UI.FormPrintPlugin" value="1"/>
    <add key="ZCXJ_CS.UI.FormProcessViewPlugin" value="0"/>
    <add key="ZCXJ_CS.UI.FormMateriaCheckPlugin" value="2"/>

    <!--OP010-01相关-->
    <add key="MonitorTagAdd" value="DB100.DBW0"/> 
    <add key="SimWrite" value="false"/> 
    <add key="MsgDB" value="101"/>   
    <add key="Process" value="清洗工序"/>
    <add key="MachineId" value="OP010-01"/>
    <add key="EquipmentNO" value="L01.OP010.01"/>
    <add key="PalCode" value="OP010-0"/>
    <add key="WorkOrder" value="ZDFM180318001"/>
    <add key="MachineIP" value="10.230.4.10"/>
    <!--PLC 与 MES 服务器IP设置-->
    <add key="PlcIP" value="192.168.30.10"/> 
    <add key="ServerIP" value="10.230.120.105"/>
    <!---->
    <add key="ServerPort" value="8080"/>
    <add key="ServerIP_BK" value="127.0.0.1"/>

    <!--OP130-02相关-->
    <!--<add key="MonitorTagAdd" value="DB100.DBW20"/>
    <add key="SimWrite" value="false"/>
    <add key="MsgDB" value="101"/>
    <add key="MsgStart" value="256"/>
    <add key="Process" value="制成工序"/>
    <add key="MachineId" value="OP130-02"/>
    <add key="EquipmentNO" value="L01.OP130.02"/> 
    <add key="MachineIP" value="10.230.4.10"/>
    <add key="PlcIP" value="192.168.30.10"/>
    
    <add key="ServerIP" value="10.230.4.32"/>
    <add key="ServerPort" value="8080"/>
    <add key="ServerIP_BK" value="127.0.0.1"/>-->
    <!--19702QW-D29-F07B5AA33N-->
  </appSettings>
</configuration>
